.custom-font{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Playfair Display SC', serif;
}

.main{
 background-color: #212529;
 color: #FFFFFF;   
}
.crest{
    width: 450px;
}

@media screen and (max-width: 500px) {
    .crest{
        width: 350px;
    }
}