.custom-nav > *{
    margin-right: 50px;
    margin-left: 50px;
        color: white;
}

.big-logo{
    font-size: 60px;
    color: #0a58ca
}

.custom-key{
    color:#0a58ca
}

.custom-button{
    color: #FFFFFF;
    border: 1px solid white;
}

#nav-toggler{
    background-color: #ffcd39;
}

.custom-underline{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ffcd39;
}